.site__footer{
    
    
    
    
    background-image: url(../../images/runners.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.site__footer__info{
    
    
    width: 550px;
    margin-left: auto;
    padding-top: 100px;

    padding-bottom: 200px;
}


.site__footer__title{
    
    
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    color: #FFFFFF;
    
    
}

.site__footer__text{
    
    
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #777777;
    
    padding-left: 40px;
    border-left: 2px solid #fff ;
    
    margin-bottom: 42px;
    
    
}



