.sport__inner{
    
    
    margin-top: 180px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    
}



.sport__info{
    
    
    width: 500px;
    margin-right: 110px;
}
.sport__title{
    
    
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    color: #000000;
}

.sport__text{
    
    
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #777777;

    padding-left: 40px;
    border-left: 2px solid #000000;
    
    margin-bottom: 42px;
    
}